/*
    !NOTES:


    Fonts:
    font-family: 'Poppins', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Bitter', serif;
*/

@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Lato&family=Poppins&display=swap');

:root {
    --primary: #FFFFFF;
    --secondary1: #E5E5E5;
    --secondary2: #6F686D;
    --tertiary: #000000;
    --extra: #23CE6B;
}





/* PARENT CSS */
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Bitter', serif;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    line-height: 20px;
}





/* Main CSS */